<div style="text-align: center; font-size: 1.2em; max-width: 560px; margin: 0 auto;">
    🆕 The invitation to gather and celebrate the joyous occasion of Monsignor Brian O’Loughlin's <span style="font-weight: bold;">Golden Jubilee of Ordination</span> can be accessed
    <a href="/assets/docs/monsignors-invitation.pdf">here</a>. Please RSVP by Friday 16<sup>th</sup> of August.
</div>
<br />
<hr />