<section>
    <h1>Contact Details</h1>
    <ol id="contact-details">
        <li>
            <strong>Office Hours</strong>
            <span>Fri 4:30pm - Late, Saturday: 7:30am - 10:30am</span>
        </li>
        <li>
            <strong>Office Email</strong>
            <span>
                <a href="mailto:sec@southperthcatholic.org">sec@southperthcatholic.org</a>
            </span>
        </li>
        <li>
            <strong>Columbarium Email</strong>
            <span>
                <a href="mailto:columbarium@southperthcatholic.org">columbarium@southperthcatholic.org</a>
            </span>
        </li>
    </ol>
</section>