<nav class="navbar navbar--items navbar--item navbar--dropdown-item" style="margin: 1em;">
	<input type="checkbox" id="hamburger" hidden />
	<label for="hamburger">
		<span class="navbar--dropdown-indicator">Menu</span>
	</label>
	<ol class="navbar--items">
		<li class="navbar--item">
			<a href="/">Home</a>
		</li>
		<li class="navbar--item">
			<a href="/contact-details">Contact Details</a>
		</li>
		<li class="navbar--item">
			<a href="/assets/bulletin.pdf">Bulletin</a>
		</li>
		<li class="navbar--item navbar--dropdown-item">
			<input type="checkbox" id="gallery" hidden />
			<label for="gallery">
				<span class="navbar--dropdown-indicator">Gallery</span>
			</label>
			<ol class="navbar--items">
				<li class="navbar--item">
					<a href="/gallery/photos">Photos</a>
				</li>
				<li class="navbar--item">
					<a href="/gallery/saints">Saints</a>
				</li>
				<li class="navbar--item">
					<a href="/gallery/solemnities">Solemnities</a>
				</li>
			</ol>
		</li>
		<li class="navbar--item">
			<a href="http://www.stcolumbassp.wa.edu.au/" target="_blank" rel="noopener noreferrer nofollow">School ↗</a>
		</li>
		<li class="navbar--item">
			<a href="https://goo.gl/maps/1YKrickdVzbXEAP77" target="_blank" rel="noopener noreferrer nofollow">
	            View Map ↗
	        </a>
	    </li>
	</ol>
</nav>