% rebase("index.html")
% include("navbar.html")

<form action="bulletin" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Upload A New Bulletin</legend>
        <p>Select a file to have it uploaded as the bulletin which vistors to the site will download.</p>
        <label>Bulletin File:</label>
        <input type="file" name="bulletin" required />
        <label>Admin Password:</label>
        <input type="password"  name="password" required />
        <input type="submit" />
    </fieldset>
</form>