% rebase("index.html")
% include("fragments/banner.html")

<h1 style="text-align: center;">Holy Week Timetable</h1>
<table id="holy-week-table">
  <tbody>
    <tr>
      <td colspan="2">Saturday 27<sup>th</sup> March</td>
    </tr>
    <tr>
      <td>Palm Sunday of the Passion Mass</td>
      <td>Vigil Mass at 6.00pm.</td>
    </tr>
    <tr>
      <td colspan="2">Sunday 28<sup>th</sup> March</td>
    </tr>
    <tr>
      <td>Plam Sunday of the Passion Mass</td>
      <td>Mass at 7.30am and 9.30am.</td>
    </tr>
    <tr>
      <td colspan="2">Monday 29<sup>th</sup> March</td>
    </tr>
    <tr>
      <td>Holy Monday Mass</td>
      <td>Mass at 10.00am.</td>
    </tr>
    <tr>
      <td colspan="2">Tuesday 30<sup>th</sup> March</td>
    </tr>
    <tr>
      <td>Chrism Mass in St. Mary's Cathedral</td>
      <td>Mass at 7.00pm, by <strong>invitation only</strong>.</td>
    </tr>
    <tr>
      <td colspan="2">Thursday 1<sup>st</sup> April</td>
    </tr>
    <tr>
      <td>Mass of the Lord's Supper, Washing of feet</td>
      <td>
        Mass at 7.00pm, followed by prayer before the Alter of Repose at 9.00pm.
      </td>
    </tr>
    <tr>
      <td colspan="2">Friday 2<sup>nd</sup> April</td>
    </tr>
    <tr>
      <td>Stations of the Cross</td>
      <td>
        10.00am, followed by Reconciliation. (Collection for the Holy Places).
      </td>
    </tr>
    <tr>
      <td>Commemoration of the Lord's Passion</td>
      <td>3.00pm (Collection for the Holy Places).</td>
    </tr>
    <tr>
      <td colspan="2">Saturday 3<sup>rd</sup> April</td>
    </tr>
    <tr>
      <td>Silent Reflection</td>
      <td>Silent reflection at the Lord's tomb from 8.00am to 6.30pm.</td>
    </tr>
    <tr>
      <td>Reconcilliation</td>
      <td>11.30am to 12 noon</td>
    </tr>
    <tr>
      <td>Easter Vigil Mass</td>
      <td>
        Mass at 7.00pm incl. lighting of the Easter fire & Paschal candle
        and Baptism of adults and children & Renewal of Baptisimal Promises.
      </td>
    </tr>
    <tr>
      <td colspan="2">Sunday 4<sup>th</sup> April</td>
    </tr>
    <tr>
      <td>Easter Sunday Mass</td>
      <td>
        Mass including renewal of Baptismal Promises at 7.30am and 9.30am.
      </td>
    </tr>
  </tbody>
</table>
<style>
  #holy-week-table {
    border-collapse: collapse;
    margin: 1.5em;
  }

  #holy-week-table td[colspan="2"] {
    font-weight: bold;
  }

  #holy-week-table td {
    vertical-align: baseline;
    width: 50%;
    padding: 0.2em;
    padding-bottom: 0.5em;
  }
</style>
