% rebase("index.html")
% include("fragments/banner.html")
% include("fragments/alerts.html")

<div id="video" style="display: flex; justify-content: center">
  <iframe
    id="latest-video"
    width="600"
    height="340"
    frameborder="0"
    allowfullscreen
    src="https://youtube.com/embed/x5dHtz6UE4k?controls=0"
  ></iframe>
</div>

<section id="notices">
  <h1>Christmas Notices</h1>
  <ul>
    <li>The <b>Second Rite of Reconciliation</b> will be held on Tuesday, December 21 at 7:30pm.</li>
    <li>Expectant parents are invited to receive a Blessing at either the Holy Family vigil Mass at 6pm on Dec 25, or at either of the Holy Family Sunday Masses on Dec 26 at 7.30am and 9.30am.</li>
    <li>Please find the St Columba's Christmas Cheer flyer <a href="/static/docs/ST COLUMBA'S CHRISTMAS CHEER.pdf">here</a>.</li>
  </ul>
</section>

% include("fragments/mass-times.html")
% include("fragments/contact-details.html")

<script type="text/javascript">
  $(document).ready(() => {
    const videoIframe = document.getElementById("latest-video");
    const channelId = "UCqIV-Kf1UAhhui_zedDtr6A";
    window.initYoutubeEmbed(videoIframe, channelId);
  });
</script>
