% rebase("index.html")
% include("fragments/banner.html")
% include("fragments/alerts.html")

<div id="video" style="display: flex; justify-content: center">
  <iframe
    id="latest-video"
    width="600"
    height="340"
    frameborder="0"
    allowfullscreen
    src="https://youtube.com/embed/x5dHtz6UE4k?controls=0"
  ></iframe>
</div>

<section id="notices">
  <h1>Feast of Our Lady of Lourdes</h1>
  <ul>
    <li>
      <p>
        Friday, Feb 11 is the Feast of Our Lady of Lourdes
        which Pope Francis has also declared World Day of Prayer
        for the Sick. In the Mass at 10am the sick in body and
        soul and seniors and those with mental illness may receive
        the Anointing of the Sick. Prayers will be offered for all 
        the sick, those suffering from natural disasters anywhere,
        but especially in Tonga and the Pacific Islands.
      </p>
    </li>
  </ul>
</section>

% include("fragments/mass-times.html")
% include("fragments/contact-details.html")

<script type="text/javascript">
  $(document).ready(() => {
    const videoIframe = document.getElementById("latest-video");
    const channelId = "UCqIV-Kf1UAhhui_zedDtr6A";
    window.initYoutubeEmbed(videoIframe, channelId);
  });
</script>
