/* variables */

:root {
  --primary-header-color: #900;
  --primary-button-color: #ccc;
  --active-button-color: #906;
  --button-text-color: #009;
}

/* global layout */

body {
  background-image: url("/static/images/background.jpg");
  background-repeat: repeat;
  font-size: 1.15rem;
}

/* Banner */

#banner {
  display: grid;
  justify-items: center;
  align-items: center
}


#banner > h1, #banner > h2, #banner > h3 {
  margin: 0.2em 0;
}

#banner--rose-window {
  display: none;
}

#banner--church {
  display: none;
}

#banner > ol {
  list-style: none;
}

@media screen and (min-width: 780px) {
  #banner {
    grid-template-columns: 1fr max-content 1fr;
    grid-template-areas: "img1 h1 img2" "img1 h2 img2" "img1 h3 img2" "img1 ol img2";
    justify-items: center;
    align-items: center;
  }
  
  #banner > h1 {
    grid-area: h1;
  }
  
  #banner > h2 {
    grid-area: h2;
  }
  
  #banner > h3 {
    grid-area: h3;
  }
  
  #banner > ol {
    grid-area: ol;
  }
  
  #banner--rose-window {
    display: initial;
    grid-area: img1;
  }
  
  #banner--church {
    display: initial;
    grid-area: img2;
  }
}

/* Navbar */

.navbar {
  margin: 0.5em;
}

.navbar--dropdown-item  > label {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.navbar--dropdown-item > input:not(:checked) ~ .navbar--items  {
    display: none;
}

.navbar--dropdown-item > input:not(:checked) + label > .navbar--dropdown-indicator::before {
  content: "↓";
}

.navbar--dropdown-item > input:checked + label > .navbar--dropdown-indicator::before {
  content: "↑";
}

.navbar--item {
  background-color: var(--primary-button-color);
  padding: 0.5em;
}

.navbar--items {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 1080px) {
  nav.navbar--dropdown-item > input {
    display: none;
  }

  nav.navbar--dropdown-item > label {
    display: none;
  }

  nav.navbar--dropdown-item > input + label ~ .navbar--items {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
}