/* variables */

:root {
  --primary-header-color: #900;
  --primary-button-color: #ccc;
  --active-button-color: #906;
  --button-text-color: #009;
}

/* global layout */

body {
  background-image: url("/static/images/background.jpg");
  background-repeat: repeat;
  font-size: 1.15rem;
}

/* Navbar */

.navbar {
  margin: 0.5em;
}

.navbar--dropdown-item > input:not(:checked) ~ .navbar--items  {
    display: none;
}

.navbar--dropdown-item > input:not(:checked) + label > .navbar--dropdown-indicator::before {
  content: "↓";
}

.navbar--dropdown-item > input:checked + label > .navbar--dropdown-indicator::before {
  content: "↑";
}

.navbar--item {
  background-color: var(--primary-button-color);
  padding: 0.5em;
}

.navbar--items {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 1080px) {
  nav > input {
    display: none;
  }

  nav > label {
    display: none;
  }

  nav > input + label ~ .navbar--items {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
}