---
layout: "base.njk"
permalink: "/"
---

{% include "./fragments/alerts.njk" %}

<div id="video" style="display: flex; justify-content: center">
  <iframe
    id="latest-video"
    width="600"
    height="340"
    frameborder="0"
    allowfullscreen
    src="https://youtube.com/embed/x5dHtz6UE4k?controls=0"
  ></iframe>
</div>

<section class="notices">
    <h1>Notices</h1>
    <img src="/assets/images/nativity.png" style="margin: 0 auto; display: block;" />
    <ul>
      <li style="list-style: none; text-align: center;">
        <strong style="display: block; font-size: 1.3em;">Christmas Crib Setup</strong>
        <p style="text-align: center;">
          Seeking volunteers to assist with the set-up of the Christmas Crib on <strong>Friday, Dec 8<sup>th</sup></strong>.
        </p>
      </li>
      <li style="list-style: none; text-align: center;">
        <strong style="display: block; font-size: 1.3em;">Christmas Cheer Donations</strong>
        <p style="text-align: center;">
          Seeking donations of finger foods, slices, biscuits etc. and soft drinks for children. Also red or white wine and bubbly for adults.
        </p>
      </li>
    </ul>
</section>

{% include "./fragments/mass-times.njk" %}
{% include "./fragments/contact-details.njk" %}

<script type="text/javascript">
  $(document).ready(() => {
    const videoIframe = document.getElementById("latest-video");
    const channelId = "UCqIV-Kf1UAhhui_zedDtr6A";
    window.initYoutubeEmbed(videoIframe, channelId);
  });
</script>
