---
layout: "base.njk"
permalink: "/"
---

{% include "./fragments/alerts.njk" %}

<div id="video" style="display: flex; justify-content: center">
  <iframe
    id="latest-video"
    width="600"
    height="340"
    frameborder="0"
    allowfullscreen
    src="https://youtube.com/embed/x5dHtz6UE4k?controls=0"
  ></iframe>
</div>

<div style="display: grid; grid-template-columns: min-content 1fr; grid-template-rows: auto auto; align-items: center; gap: 1em; padding: 2em;">
  <img style="grid-row: 1 / -1" height="300px" src="/assets/images/father-casey.png" alt="Fr. Casey" />
  <h2 style="align-self: flex-end">Vale Fr Casey</h2>
  <p style="align-self: flex-start; margin-top: 0;">
    There will be a Vigil Mass on Saturday October 22<sup>nd</sup> at 6pm followed by a wake meet
    and greet in the school undercover area. We invite members of the Social Committee
    to meet when convenient. In addition, we will have a sheet for parishoners who wish to 
    bring finger food, casseroles, soup and red or white wine. The Requiem Mass,
    with the Archbishop Timothy as Principal Celebrant will be celebrated on Monday, October 24<sup>th</sup> at 10am in our Parish.
  </p>
</div>

{% include "./fragments/mass-times.njk" %}
{% include "./fragments/contact-details.njk" %}

<script type="text/javascript">
  $(document).ready(() => {
    const videoIframe = document.getElementById("latest-video");
    const channelId = "UCqIV-Kf1UAhhui_zedDtr6A";
    window.initYoutubeEmbed(videoIframe, channelId);
  });
</script>
