---
layout: "base.njk"
permalink: "/"
---

{% include "./fragments/alerts.njk" %}

<div id="video" style="display: flex; justify-content: center">
  <iframe
    id="latest-video"
    width="600"
    height="340"
    frameborder="0"
    allowfullscreen
    src="https://youtube.com/embed/x5dHtz6UE4k?controls=0"
  ></iframe>
</div>

<section class="notices">
    <h1>Notices</h1>
    <ul>
      <li style="list-style: none; text-align: center;">
        <strong style="display: block;">Memorial Mass - Fr Michael Casey</strong>
        <img src="/assets/images/father-casey-memorial-mass.png" width="400px" style="margin: 1em;" />
        <br />

        Livestreamed from Ireland, the placing of his ashes in Fr Casey’s parents grave in Co Limerick. Ttune in at 7pm Perth time after Vigil Mass March 4<sup>th</sup>. (Watchable <a href="https://www.youtube.com/watch?v=bRRTJjyxy0Y">🎥 here</a>) 
        <p>
          Fr Casey was 4th Parish Priest of St Columba’s from 1979 to  2011. Fr was in active retirement at Castledare Nursing Home celebrating Mass each day for the residents. He then moved to a self-care unit with 5 other priests in Redcliffe & later to Margaret Hubery Home in Rossmoyne, where he died peacefully on  his Saint’s name day, Sept. 29 aged 97 years.
        </p>
      </li>
    </ul>
</section>

{% include "./fragments/mass-times.njk" %}
{% include "./fragments/contact-details.njk" %}

<script type="text/javascript">
  $(document).ready(() => {
    const videoIframe = document.getElementById("latest-video");
    const channelId = "UCqIV-Kf1UAhhui_zedDtr6A";
    window.initYoutubeEmbed(videoIframe, channelId);
  });
</script>
