<p style="margin: 2em; text-align: center;">
    <strong style="color: var(--primary-header-color);">
        ⚠️ Due to Coronavirus restrictions the Church will be closed until Saturday the 3rd of July at 12:01AM.
    </strong>
    <br />
    <br />
    <strong style="color: var(--primary-header-color);">
        🙏
        <a href="/static/docs/LETTER OF HIS HOLINESS POPE FRANCIS.docx" target="_self" rel="_self">
            Coronavirus Prayer
        </a>,
        <a href="/static/images/Prayer of Spiritual Communion.jpg" rel="_self">
            Prayer of Spiritual Communion
        </a>
    </strong>
    <br />
    <br />
    <strong style="color: var(--primary-header-color);">
        📽
        <a href="https://www.youtube.com/channel/UCqIV-Kf1UAhhui_zedDtr6A/live">
            Latest Livestreamed Mass
        </a>
    </strong>
</p>