<section>
    <h1>Contact Details</h1>
    <ol id="contact-details">
        <li>
            <strong>Office Hours</strong>
            <span>Wed 10:30-2:30pm, Fri 8:30-3:30pm, Sun 10:30-11am</span>
        </li>
        <li>
            <strong>Office Hours</strong>
            <span>Wed 10:30-2:30pm, Fri 8:30-3:30pm, Sun 10:30-11am</span>
        </li>
        <li>
            <strong>Office Email</strong>
            <span>
                <a href="mailto:sec@southperthcatholic.org">sec@southperthcatholic.org</a>
            </span>
        </li>
        <li>
            <strong>Columbarium Email</strong>
            <span>
                <a href="mailto:columbarium@southperthcatholic.org">columbarium@southperthcatholic.org</a>
            </span>
        </li>
    </ol>
</section>