<section class="mass-timetable">
    <h1>Normal Mass Times</h1>
    <ol id="daily-mass-times">
        <li>
            <strong>Saturday</strong>
            <span>6:00 pm (Vigil Mass)</span>
        </li>
        <li>
            <strong>Sunday</strong>
            <span>7:30 am, 9:30am incl. Childrens Liturgy (except during School Holidays). Seeking volunteer presenters (not in school holidays)</span>
        </li>
        <li>
            <strong>Monday</strong>
            <span>10:00 am</span>
        </li>
        <li>
            <strong>Tuesday</strong>
            <span>10:00 am</span>
        </li>
        <li>
            <strong>Wednesday</strong>
            <span>5:00 pm</span>
        </li>
        <li>
            <strong>Thursday</strong>
            <span>5:00 pm</span>
        </li>
        <li>
            <strong>Friday</strong>
            <span>10:00 am (followed by Benediction)</span>
        </li>
    </ol>
    <ol id="event-times">
        <li>
            <strong>Feast of St Valentine</strong>
            <span>Feb 13<sup>th</sup> & 14<sup>th</sup></span>
        </li>
        <li>
            <strong>Ash Wednesday</strong>
            <span>Match 2<sup>nd</sup></span>
        </li>
        <!-- <li>
            <strong>Reconciliation/Confession</strong>
            <span>Sat 11:30 am - 12 noon</span>
        </li> -->
        <li>
            <strong>Baptism and Marriage Appointments</strong>
            <span>Phone between 7:30am & 9:00am</span>
        </li>
    </ol>
</section>